#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.title {
  font-size: 30px;
  text-align: center;
}

.form {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
  border: 2px solid #2b2a33;
  border-radius: 10px;
}

input {
  padding: 3px 0 3px 10px;
  border-radius: 6px;
}

label {
  margin-top: 8px;
  font-size: 17px;
  font-weight: 500;
}

p {
  margin: -30px 0;
  color: A12568;
}

.message-success {
  color: green;
  font-size: 22px;
}

.message-error {
  color: red;
  font-size: 22px;
}

.date {
  align-self: left;
}

.submit-btn {
  width: 50%;
  margin: 20px auto 0 auto;
}
